<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
        <SitecoreWebUrl>http://sc910.sc</SitecoreWebUrl>
        <SitecoreDeployFolder>C:\inetpub\wwwroot\sc910.sc</SitecoreDeployFolder>
        <RecursiveDeployAction>Ignore</RecursiveDeployAction>
        <InstallSitecoreConnector>True</InstallSitecoreConnector>
        <DisableFileDeployment>False</DisableFileDeployment>
        <SitecoreAccessGuid>f83da690-2423-4a4f-9751-26a60500c3c6</SitecoreAccessGuid>
        <IncludeItemsChangedAfter>$([System.DateTime]::Now.AddDays(-30).ToString("yyyy-MM-dd"))</IncludeItemsChangedAfter>
    </PropertyGroup>
    <PropertyGroup Condition=" '$(Configuration)' == 'DEV' ">
        <!--<SitecoreWebUrl>https://dev-sc.aspendental.int</SitecoreWebUrl>-->
        <!--<SitecoreDeployFolder>C:\BuildOutput\develop</SitecoreDeployFolder>-->
        <!--<RecursiveDeployAction>Ignore</RecursiveDeployAction>-->
        <!--<InstallSitecoreConnector>True</InstallSitecoreConnector>-->
        <DisableFileDeployment>True</DisableFileDeployment>
        <!--<SitecoreAccessGuid>f83da690-2423-4a4f-9751-26a60500c3c6</SitecoreAccessGuid>-->
    </PropertyGroup>
    <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
        <DisableFileDeployment>True</DisableFileDeployment>
        <SitecoreAccessGuid>f83da690-2423-4a4f-9751-26a60500c3c6</SitecoreAccessGuid>
        <!--<IncludeItemsChangedAfter>$([System.DateTime]::Now.AddDays(-30).ToString("yyyy-MM-dd"))</IncludeItemsChangedAfter>-->
    </PropertyGroup>

    <ItemGroup>
        <ExcludedAssemblies Include="%2a.xml" />
        <ExcludedAssemblies Include="%2a.dll.config" />
        <ExcludedAssemblies Include="MongoDB.%2a" />
        <ExcludedAssemblies Include="Sitecore.Abstractions.%2a" />
        <ExcludedAssemblies Include="Sitecore.Analytics.%2a" />
        <ExcludedAssemblies Include="Sitecore.Apps.%2a" />
        <ExcludedAssemblies Include="Sitecore.Buckets.%2a" />
        <ExcludedAssemblies Include="Sitecore.CES.%2a" />
        <ExcludedAssemblies Include="Sitecore.Cintel.%2a" />
        <ExcludedAssemblies Include="Sitecore.Client.%2a" />
        <ExcludedAssemblies Include="Sitecore.Cloud.%2a" />
        <ExcludedAssemblies Include="Sitecore.ContentSearch.%2a" />
        <ExcludedAssemblies Include="Sitecore.ContentTesting.%2a" />
        <ExcludedAssemblies Include="Sitecore.ControlPanel.%2a" />
        <ExcludedAssemblies Include="Sitecore.ExperienceAnalytics.%2a" />
        <ExcludedAssemblies Include="Sitecore.ExperienceEditor.%2a" />
        <ExcludedAssemblies Include="Sitecore.Forms.%2a" />
        <ExcludedAssemblies Include="Sitecore.FXM.%2a" />
        <ExcludedAssemblies Include="Sitecore.ItemWebApi.%2a" />
        <ExcludedAssemblies Include="Sitecore.Kernel.%2a" />
        <ExcludedAssemblies Include="Sitecore.LaunchPad.%2a" />
        <ExcludedAssemblies Include="Sitecore.ListManagement.%2a" />
        <ExcludedAssemblies Include="Sitecore.Logging.%2a" />
        <ExcludedAssemblies Include="Sitecore.Marketing.%2a" />
        <ExcludedAssemblies Include="Sitecore.Mvc.%2a" />
        <ExcludedAssemblies Include="sitecore.nexus.%2a" />
        <ExcludedAssemblies Include="Sitecore.NVelocity.dll" />
        <ExcludedAssemblies Include="Sitecore.Oracle.%2a" />
        <ExcludedAssemblies Include="Sitecore.PathAnalyzer.%2a" />
        <ExcludedAssemblies Include="Sitecore.Security.%2a" />
        <ExcludedAssemblies Include="Sitecore.SegmentBuilder.%2a" />
        <ExcludedAssemblies Include="Sitecore.SequenceAnalyzer.%2a" />
        <ExcludedAssemblies Include="Sitecore.Services.%2a" />
        <ExcludedAssemblies Include="Sitecore.SessionProvider.%2a" />
        <ExcludedAssemblies Include="Sitecore.Shell.%2a" />
        <ExcludedAssemblies Include="Sitecore.Social.%2a" />
        <ExcludedAssemblies Include="Sitecore.Speak.%2a" />
        <ExcludedAssemblies Include="Sitecore.Update.%2a" />
        <ExcludedAssemblies Include="Sitecore.Web.%2a" />
        <ExcludedAssemblies Include="Sitecore.WFFM.%2a" />
        <ExcludedAssemblies Include="Sitecore.Xdb.%2a" />
        <ExcludedAssemblies Include="Sitecore.Zip.%2a" />
    </ItemGroup>
</Project>