@model Sitecore.Foundation.SpeRendering.Models.Message
@{
    Layout = null;
}
@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrEmpty(Model.Text))
{
    <div>
        @if (string.IsNullOrEmpty(Model.Text))
        {
            <text>&nbsp;</text>
        }
        else
        {
            @Html.Raw(Model.Text)
        }
    </div>
}