@model Sitecore.Foundation.SpeRendering.Models.Message
@{
    Layout = null;
}
@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrEmpty(Model.Text))
{
    <div>
        @(string.IsNullOrEmpty(Model.Text) ? "&nbsp;" : Model.Text)
    </div>
}