<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <mvc.getRenderer>
                <processor 
                    type="Sitecore.Foundation.SpeRendering.Pipelines.Response.GetRenderer.GetPowershellRenderer, Sitecore.Foundation.SpeRendering"
                    patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc']"/>
            </mvc.getRenderer>
        </pipelines>
    </sitecore>
</configuration>
